HOST=localhost
PORT=3000

# desktop, egl, swiftshader
GPU_GL=swiftshader

# Path to a browser executable to run instead of the bundled Chromium.
CHROMIUM_EXECUTE_PATH=

AUTH_ENABLE=false
AUTH_USERNAME=
AUTH_PASSWORD=

STUN_SERVER=
TURN_SERVER=
TURN_KEY=
